.ms-CalloutExample-title {
  font-size: 32px;
}

.ms-CalloutExample-cmdBarHost {
  width: 350px;
  padding: 10px;
}

.ms-CalloutExample-inner {
  height: 100%;
  padding: 0 24px 20px;
}

.ms-CalloutExample-header {
  padding: 18px 24px 12px;
}

.ms-CalloutExample-title {
  margin: 0;
  font-size: 32px;
  color: black;
  font-weight:500
}

.ms-CalloutExample-subText {
  margin: 0;
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.ms-CalloutExample-link {
  font-size: 24px;
  color: black;
}

.ms-CalloutExample-actions {
  position: relative;
  margin-top: 20px;
  width: 100%;
  white-space: nowrap;
}
.calloutExampleButton {
  width: 100%;
}