@import 'office-ui-fabric-react/dist/sass/_References.scss';

.ms-Callout-container
{
  z-index: 1;
}
.ms-CalloutExample-title {
  font-size: x-large;
}

.ms-CalloutExample-cmdBarHost {
  width: 350px;
  padding: 10px;
}

.ms-CalloutExample-inner {
  height: 100%;
  padding: 0 24px 20px;
}

.ms-CalloutExample-header {
  padding: 18px 24px 12px;
}

.ms-CalloutExample-title {
  margin: 0;
  @include ms-font-xl;
  color: $ms-color-neutralPrimary;
  font-weight: $ms-font-weight-semilight;
}

.ms-CalloutExample-subText {
  margin: 0;
  @include ms-font-s;
  color: $ms-color-neutralPrimary;
  font-weight: $ms-font-weight-semilight;
}

.ms-CalloutExample-link {
  @include ms-font-m;
  color: $ms-color-neutralPrimary;
}

.ms-CalloutExample-actions {
  position: relative;
  margin-top: 20px;
  width: 100%;
  white-space: nowrap;
}
.calloutExampleButton {
  width: 100%;
}