.steps {
    counter-reset: li;
    max-width: 50em;
    margin: 60px auto;
}
ol, ul {
    padding: 0;
    list-style: none;
}

.steps li::before {
    color: rgb(3, 131, 135);
    content: counter(li);
    counter-increment: li;
    font-size: 48px;
    font-weight: 100;
    line-height: 38px;
    position: absolute;
    top: 0;
}

.steps li {
    list-style: none;
    position: relative;
    padding-bottom: 24px;
    padding-top: 56px;
}