.PageSection
{
    padding:50px;
}
.content {
    padding: 0 16px 0 16px;
    margin-bottom: 2px;
}
.pageTitle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f8f8f8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 48px;
    font-weight: 100;
    line-height: 1;
    padding: 40px 0;
    -webkit-transition: font-size .167s cubic-bezier(0.1, 0.9, 0.2, 1);
    transition: font-size .167s cubic-bezier(0.1, 0.9, 0.2, 1);
}