.ExampleCard {
    margin: 20px 0;
}

.ExampleCard-header {
    border-bottom: 1px solid #a6a6a6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}
.ExampleCard-title {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 10px;
    display: inline-block;
}
.ExampleCard-toggleButtons {
    font-size: 17px;
    font-weight: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
}
/* .ExampleCard-code {
    background-color: #212121;
    overflow: hidden;
} */


.ExampleCard-example.is-scrollable {
    -webkit-overflow-scrolling: touch;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 4px;
    position: relative;
}

